.paragraph{
    padding-left: 20px;
    padding-right: 20px;
}

.title{
    color: #688F4E;
    padding-left: 20px;
    padding-right: 20px;
    
}

ion-content.background{
    // --ion-background-color:#C0E1D1;
    --background: url(../../assets/image_adopted_trees_bg/background_mint_acr.jpg);
 }