<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Care Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="ion-padding">
<div class="container">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        The Pine Tree: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      &nbsp; 1. Inspect your young pine tree for wounds on its trunk and main branches. Use care when transporting it home so not to break branches.
  <br><br>
  &nbsp; 2. Search for a large space to plant the pine tree, as these trees belong to the bigger category. (height: 50'-80', width: 20'-40')
  <br><br>
  &nbsp; 3. As Fall comes, it will drop a lot of needles; make sure not to plant where you don't want those!
  <br><br>
  &nbsp; 4. Be sure to properly plant trees. Installing them incorrectly or leaving stakes and wires on trees often causes tree failure before<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; they even reach maturity.
  <br><br>
  &nbsp; 5. "Shaping" the tree is not advised as its soft wood will be vulnerable to snow, ice or wind damage.
  <br><br>
  &nbsp; 6. Don’t mow underneath your pine trees. When you install a young tree, extend a mulch bed around its base that gives at least 12″-18″ <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; of mulched areas between the tree and turfgrass. As the tree grows, expand the mulch bed out further, always <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; keeping ahead of the growth.
  <br><br>
  &nbsp; 7. Pines will shed old needles each fall. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Allow these needles to fall under your trees; it will help to improve the soil with compost for your trees.
 
    </ion-card-content>
    </ion-card>
 
  <br><br><br><br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        The Birch Tree: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      &nbsp; 1. The birch tree is very sensitive to heat and drought. It needs moist, cool soil, but also sunshine on its leaves to flourish.
  <br><br>
  &nbsp; 2. When planting a birch tree select a site that will shade its roots in the afternoon and still provide sun to canopy for much of the day.
  <br><br>
  &nbsp; 3. Mulching is recommended for this tree as well.
  <br><br>
  &nbsp; 4. Birch trees are susceptible to borers as well as other insects and tree diseases. <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A preventive insect control program is recommended to reduce problems.
  <br><br>
  &nbsp; 5. Keep your birch trees as healthy as possible through regular monitoring, pruning, watering and using birch tree fertilizer.
  <br><br>
  &nbsp; 6. Broken, diseased, or dead branches should be removed in order to prevent decay-producing fungi from infecting other areas of the birch tree.
  <br><br>
  &nbsp; 7. Removing branch stubs promotes successful and proper healing of wounds.
    </ion-card-content>
    </ion-card>
 
  <br><br><br><br>
<ion-card>
<ion-card-header>
  <ion-card-title>
    The Apple Tree: </ion-card-title>
</ion-card-header>
<ion-card-content>
  &nbsp; 1. There are many diseases and fruit pests that attack apples so it’s rare for this fruit to be grown without any type of pesticides. <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It will take much research and persistance to grow apples is you wish to avoid any type of spraying program.
  <br><br>
  &nbsp; 2. The apple tree will be needing "friends"; most apples need pollen from another apple tree to produce fruit. This second tree must be <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a different cultivar but also one that will flower at the same time.
  <br><br>
  &nbsp; 3. The presence of bees will be very important; poor pollination can reduce the number of fruit and cause misshapen fruit.
  <br><br>
  &nbsp; 4. Apples produce best when grown in full sun.
  <br><br>
  &nbsp; 5. Apple trees need well-drained soil, but should be able to retain some moisture.
  <br><br>
  &nbsp; 6. Plant fruit in a location with good air circulation so leaves dry quickly after a rainfall or irrigation.
  <br><br>
  &nbsp; 7. The ideal soil pH is 6.0 to 6.5 but a pH range of 5.5 to 7.0 is acceptable.
</ion-card-content>
</ion-card>

 
    <br><br><br><br><br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>The Cherry Tree:</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        &nbsp;1. Plant cherry trees in early spring or late fall!
        <br><br>
        &nbsp; 2. The area should be a sunny site with good air circulation and deep, well-drained soil.
        <br><br>
        &nbsp; 3. After flowering in a fruiting year, you’ll need to drape trees with wildlife-safe netting to protect the fruit from birds.
        <br><br>
        &nbsp; 4. Mulching is recommended.
        <br><br>
        &nbsp; 5. For sweet cherries, make sure the different varieties will pollinate each other.
        <br><br>
        &nbsp; 6. For bareroot trees, place the rootstock on a small mound of soil in the center of the planting hole, and spread the roots down and away, trying not <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to bend the roots. Backfill with soil. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For container-grown trees, first remove the rootball and on its side; cut through the roots with shears. Don’t cover the top of the root-ball.
        <br><br>
        &nbsp; 7. Fertilize each spring until trees start to bear, then fertilize only after harvest each season. 
      </ion-card-content>
    </ion-card>
    <style>
      ion-card {
                background-color: #E0ECE6;
                text-align: left;
                font-size: large;
                border: 5px solid #C0E1D1;
                counter-reset: rowNumber;
                display:grid;
                position:static;
            }
      
      
  
    </style>



